/*
    Plugin: WooCommerce Product Carousel, Slider & Grid Ultimate
    Plugin URI: https://wordpress.org/plugins/woo-product-carousel-slider-and-grid-ultimate/
    Author: wpWax
    Version: 1.0
*/
/* Import font */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");
:root {
  /* Default variables */
  --wpcu-primaryColor: #ff5500;
  --wpcu-textDefault: #363940;
  --wpcu-borderColor: #e4e4ed;
  --wpcu-textLight: #9192a3;
  /* Grid/Carousel Header */
  --wpcu-headerFontSize: 24px;
  --wpcu-headerFontColor: #000;
  /* Product Title */
  --wpcu-productTitleSize: 16px;
  --wpcu-productTitleColor: #363940;
  --wpcu-productTitleColorHover: #000;
  /* Product type color */
  --wpcu-productTypeColor: #9192a3;
  --wpcu-productTypeSize: 12px;
  /* Product Price */
  --wpcu-productPriceSize: 16px;
  --wpcu-productPriceColor: #ff5500;
  /* Product Ratings */
  --wpcu-productRatingSize: 16px;
  --wpcu-productRatingColor: #feb507;
  /* "Add to Cart" Button */
  --wpcu-buttonColor: #fff;
  --wpcu-buttonColorHover: #fff;
  --wpcu-buttonBgColor: #ff5500;
  --wpcu-buttonBgColorHover: #d54500;
  --wpcu-buttonFontSize: 12px;
  /* Ribbon */
  --wpcu-ribbonBgColor: #ff5500;
  --wpcu-ribbonBgColor2: #00b46a;
  /* Quick view icon */
  --wpcu-qvIconColor: #fff;
  --wpcu-qvBgColor: #ff5500;
  /* Navigaiton */
  --wpcu-navArrowColor: #333;
  --wpcu-navArrowColorHover: #fff;
  --wpcu-navBgColor: #fff;
  --wpcu-navBgColorHover: #ff5500;
  --wpcu-navBorderColor: #e4e4ed;
  --wpcu-navBorderColorHover: #ff5500;
  /* Pagination */
  --wpcu-pagColor: #333;
  --wpcu-pagColorHover: #fff;
  --wpcu-pagBorderColor: #e4e4e4;
  --wpcu-pagBorderColorHover: #ff5500;
  --wpcu-pagBgColor: #fff;
  --wpcu-pagBgColorHover: #ff5500;
  --wpcu-pagActiveColor: #fff;
  --wpcu-pagActiveBorderColor: #ff5500;
  --wpcu-pagActiveBgColor: #ff5500;
  /* Quick view button */
  --wpcu-quickViewBtnBg: #363940;
  --wpcu-quickViewBtnBgHover: #000;
  --wpcu-quickViewBtnColor: #fff;
  --wpcu-quickViewBtnColorHover: #fff;
  --wpcu-quickViewBtnSize: 14px;
  /* Card min height */
  --wpcu-cardMinHeight: 445px;
  /* Action icon btn */
  --wpcu-actionIconColor: #363940;
  --wpcu-actionIconColorHover: #ff5500;
  /* Image Zoom on hover */
  --wpcu-imgHoverScale: scale(1.2);
  /* Marquee Animation */
  --wpcu-marqueeItemsWidth: -2930px;
  --wpcu-marqueeSpeed: 10000ms;
}

/* General Styles */
.wpcu-products {
  max-width: 100% !important;
  width: 100% !important;
  padding: 0 15px;
  font-family: "Rubik", sans-serif;
  position: relative;
}

/* Product image tweaks */
.wpcu-product {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.wpcu-product .wpcu-product__img {
  /* Image zoom on hover effect */
}
.wpcu-product .wpcu-product__img img {
  width: 100%;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}
.wpcu-product .wpcu-product__img--hover-effect > a {
  display: block;
  overflow: hidden;
}
.wpcu-product .wpcu-product__img--hover-effect:hover img {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
}

/* Lazy load */
.wpcu-lazy-load {
  position: relative;
}
.wpcu-lazy-load:before {
  content: "";
  z-index: 9998;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #f5f5f5;
}
.wpcu-lazy-load:after {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #ff5500;
  border-right-color: transparent;
  -webkit-animation: wpcu-rotate 2s linear infinite;
          animation: wpcu-rotate 2s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 9999;
}

/* Carousel nav style */
.wpcu-carousel-nav {
  margin: 0 -5px;
  padding: 0 15px;
}
.wpcu-carousel-nav__btn {
  width: 40px;
  height: 40px;
  border: 1px solid var(--wpcu-navBorderColor) !important;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 5px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  background: var(--wpcu-navBgColor) !important;
}
.wpcu-carousel-nav__btn svg {
  width: 6px;
  fill: var(--wpcu-navArrowColor) !important;
}
.wpcu-carousel-nav__btn:hover {
  border-color: var(--wpcu-navBorderColorHover) !important;
  background: var(--wpcu-navBgColorHover) !important;
}
.wpcu-carousel-nav__btn:hover svg {
  fill: var(--wpcu-navArrowColorHover) !important;
}
.wpcu-carousel-nav--circle .wpcu-carousel-nav__btn {
  border-radius: 50%;
}
.wpcu-carousel-nav--bottom-left {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0;
}
.wpcu-carousel-nav--bottom-middle {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wpcu-carousel-nav--bottom-right {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0;
}
.wpcu-carousel-nav--middle {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 99;
  margin: 0;
  padding: 0;
  pointer-events: none;
}
.wpcu-carousel-nav--middle .wpcu-carousel-nav__btn {
  margin: 0;
  pointer-events: all;
}
.wpcu-carousel-nav--middle .wpcu-carousel-nav__btn--prev {
  margin-left: 0;
}
.wpcu-carousel-nav--middle .wpcu-carousel-nav__btn--next {
  margin-right: 0;
}
.wpcu-carousel-nav--top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 30px;
  padding: 0;
}
.wpcu-carousel-nav--top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 30px;
  padding: 0;
}
.wpcu-carousel-nav--top-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  padding: 0;
}

/* Header style */
.wpcu-products__header {
  margin: 0 0 30px !important;
  max-width: 100% !important;
  width: 100% !important;
  padding: 0 15px;
  text-align: left !important;
}

.wpcu-products__header.wpcu-products__header--middle {
  text-align: center !important;
}

.wpcu-products__header.wpcu-products__header--right {
  text-align: right !important;
}

.wpcu-products__header h2 {
  font-size: var(--wpcu-headerFontSize) !important;
  color: var(--wpcu-headerFontColor) !important;
  font-weight: 500;
  margin: 0 !important;
}

/* Carousel default */
.wpcu-carousel {
  overflow: hidden;
  /* Carousel marquee effect */
}
.wpcu-carousel--marquee .swiper-wrapper {
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
.wpcu-carousel--marquee:hover .swiper-wrapper {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.wpcu-carousel--marquee .wpcu-carousel-nav {
  display: none;
}

/* wpcu grid */
.wpcu-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: -25px;
  min-width: 100%;
}

.wpcu-row > * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 25px;
}

/* wpcu columns */
.wpcu-column-1 .wpcu-product {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.wpcu-column-2 .wpcu-product {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.wpcu-column-3 .wpcu-product {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
}

.wpcu-column-4 .wpcu-product {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.wpcu-column-5 .wpcu-product {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

/* columns in mobile and tablet */
@media only screen and (max-width: 991px) {
  .wpcu-column-md-1 .wpcu-product {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 100% !important;
            flex: 0 0 100% !important;
  }

  .wpcu-column-md-2 .wpcu-product {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .wpcu-column-md-3 .wpcu-product {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
            flex: 0 0 33.33%;
  }

  .wpcu-column-md-4 .wpcu-product {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
}
@media only screen and (max-width: 767px) {
  .wpcu-column-sm-1 .wpcu-product {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 100% !important;
            flex: 0 0 100% !important;
  }

  .wpcu-column-sm-2 .wpcu-product {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .wpcu-column-sm-3 .wpcu-product {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
            flex: 0 0 33.33%;
  }

  .wpcu-column-sm-4 .wpcu-product {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
}
/* Keyframes */
@-webkit-keyframes wpcu-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes wpcu-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes wpcu-marquee {
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes wpcu-marquee {
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
/*
    * Buttons
    ? Modifiers: --sm, --lg, --rounded, --rounded-circle, --icon-circle, --outlined, --light
*/
.wpcu-button {
  display: inline-block;
  line-height: 0;
}
.wpcu-button p {
  margin: 0;
  display: inline-block;
}
.wpcu-button .button,
.wpcu-button .added_to_cart,
.wpcu-button .button.added {
  min-height: 40px;
  background: var(--wpcu-buttonBgColor) !important;
  color: var(--wpcu-buttonColor) !important;
  border-radius: 0;
  text-transform: uppercase;
  font-size: var(--wpcu-buttonFontSize) !important;
  padding: 0 15px !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none !important;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  border: 1px solid transparent;
  line-height: 15px !important;
  text-align: center;
}
.wpcu-button .button:hover,
.wpcu-button .added_to_cart:hover,
.wpcu-button .button.added:hover {
  text-decoration: none !important;
  background: var(--wpcu-buttonBgColorHover) !important;
  color: var(--wpcu-buttonColorHover) !important;
  border-color: var(--wpcu-buttonBgColorHover) !important;
}
.wpcu-button .button.product_type_external {
  max-width: 150px;
  line-height: 15px !important;
  margin: 0 auto;
}
.wpcu-button--outlined .button,
.wpcu-button--outlined .added_to_cart {
  border: 1px solid #e4e4ed;
  background: #fff !important;
  color: #9192a3 !important;
}
.wpcu-button--outlined .button:hover,
.wpcu-button--outlined .added_to_cart:hover {
  color: var(--wpcu-buttonColor) !important;
  background: var(--wpcu-buttonBgColorHover) !important;
  border-color: var(--wpcu-buttonBgColorHover) !important;
}
.wpcu-button--sm .button,
.wpcu-button--sm .added_to_cart {
  min-height: 35px;
  padding: 0 12px;
}
.wpcu-button--lg .button,
.wpcu-button--lg .added_to_cart {
  min-height: 45px;
  padding: 0 12px;
}
.wpcu-button--rounded .button,
.wpcu-button--rounded .added_to_cart {
  border-radius: 3px;
}
.wpcu-button--rounded-circle .button,
.wpcu-button--rounded-circle .added_to_cart {
  border-radius: 20px;
}
.wpcu-button--icon-circle a {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--wpcu-primaryColor);
}
.wpcu-button--icon-circle a svg {
  width: 14px;
  height: 14px;
  fill: #fff;
}
.wpcu-button--light .button {
  background: #fff;
  border-color: #fff;
  color: #000000 !important;
}
.wpcu-button--light .button:hover {
  color: #fff !important;
  border-color: #ff5500;
  background: #ff5500;
}
.wpcu-button--white .button,
.wpcu-button--white .added_to_cart {
  background: var(--wpcu-buttonBgColor) !important;
  border-color: var(--wpcu-borderColor) !important;
  color: var(--wpcu-buttonColor) !important;
}
.wpcu-button--white .button:hover,
.wpcu-button--white .added_to_cart:hover {
  color: var(--wpcu-buttonColorHover) !important;
  background: var(--wpcu-buttonBgColorHover) !important;
  border-color: var(--wpcu-buttonBgColorHover) !important;
}

/* Quick view button */
.wpcu-quick-view-btn {
  min-height: 32px;
  background: var(--wpcu-quickViewBtnBg) !important;
  color: var(--wpcu-quickViewBtnColor) !important;
  font-size: var(--wpcu-quickViewBtnSize) !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 15px;
  text-decoration: none !important;
  line-height: 1.2 !important;
  text-align: center;
}
.wpcu-quick-view-btn:hover {
  background: var(--wpcu-quickViewBtnBgHover) !important;
  color: var(--wpcu-quickViewBtnColorHover) !important;
}

/* Button tweaks */
.wpcu-button .button.added {
  display: none !important;
}

/* Button text decoration none */
.wpcu-product .wpcu-button .button,
.wpcu-product .wpcu-button .added_to_cart,
.wpcu-product .wpcu-button .button.added {
  text-decoration: none !important;
}

/* Badges */
.wpcu-badge {
  height: 26px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  padding: 0 12px;
}
.wpcu-badge--primary {
  color: #fff;
  background: var(--wpcu-ribbonBgColor);
}
.wpcu-badge--secondary {
  color: #fff;
  background: var(--wpcu-ribbonBgColor2);
}
.wpcu-badge--sm {
  height: 20px;
  padding: 0 7px;
}
.wpcu-badge--outlined {
  border: 1px solid #ff5500;
  color: #ff5500;
}
.wpcu-badge--rounded {
  border-radius: 2px;
}
.wpcu-badge--rounded-circle {
  border-radius: 25px;
}
.wpcu-badge--text-lg {
  text-transform: uppercase;
  font-weight: 500;
}
.wpcu-badge--circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--wpcu-ribbonBgColor);
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  padding: 0;
  white-space: nowrap;
}

/* Product title */
.wpcu-product__title {
  margin: 0 !important;
  line-height: normal !important;
  font-size: unset !important;
  font-family: inherit !important;
}
.wpcu-product__title::before {
  content: none;
}
.wpcu-product__title a {
  text-decoration: none !important;
  font-size: var(--wpcu-productTitleSize) !important;
  font-weight: normal;
  color: var(--wpcu-productTitleColor) !important;
  letter-spacing: normal;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.wpcu-product__title a:hover {
  color: var(--wpcu-productTitleColorHover) !important;
}

.wpcu-product .wpcu-product__title a {
  text-decoration: none !important;
}

/* Product subtitle */
.wpcu-product__subtitle {
  display: block;
}
.wpcu-product__subtitle a {
  font-size: 14px;
  color: #9192a3;
  display: block;
  text-decoration: none !important;
}

/* Product type */
.wpcu-product__type {
  display: block;
}
.wpcu-product__type a {
  color: var(--wpcu-productTypeColor);
  font-size: var(--wpcu-productTypeSize);
  display: block;
  text-decoration: none !important;
}

/* Product excerpt */
.wpcu-product__excerpt p {
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  color: #5a6671;
}

/* Product Price */
.wpcu-product__price {
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -4px;
}
.wpcu-product__price__sale {
  display: inline-block;
  font-size: var(--wpcu-productPriceSize) !important;
  line-height: normal;
  color: var(--wpcu-productPriceColor) !important;
  margin: 0 4px;
}
.wpcu-product__price s {
  font-weight: 300;
  display: inline-block;
  font-size: 14px;
  color: #9192a3;
  margin: 0 4px;
}
.wpcu-product__price__discount-badge {
  margin: 0 4px;
}

/* Product rating */
.wpcu-product__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wpcu-product__rating__stars {
  position: relative;
}
.wpcu-product__rating__stars__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wpcu-product__rating__stars__wrap svg {
  width: var(--wpcu-productRatingSize);
  fill: var(--wpcu-productRatingColor);
}
.wpcu-product__rating__stars__solid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.wpcu-product__rating__stars__solid svg {
  min-width: var(--wpcu-productRatingSize);
  fill: var(--wpcu-productRatingColor);
}
.wpcu-product__rating .wpcu-product__rating__total {
  font-size: 14px;
  color: #9192a3;
  display: inline-block;
  padding-left: 4px;
  position: relative;
  top: 2px;
}

/*
    Product cover content placement
    .wpcu-product__cover-content
        --modifiers:
            top-left,
            top-right,
            bottom-right,
            bottom-left,
            middle
*/
.wpcu-product__cover-content {
  font-size: initial;
  line-height: unset;
  position: absolute;
}
.wpcu-product__cover-content--top-left {
  top: 20px;
  left: 20px;
  text-align: left;
}
.wpcu-product__cover-content--top-right {
  top: 20px;
  right: 20px;
  text-align: right;
}
.wpcu-product__cover-content--bottom-right {
  bottom: 20px;
  right: 20px;
  text-align: right;
}
.wpcu-product__cover-content--bottom-left {
  left: 20px;
  bottom: 20px;
  text-align: left;
}
.wpcu-product__cover-content--middle {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.wpcu-product__cover-content .wpcu-product__action-icons {
  padding: 0;
}

.wpcu-product__img {
  position: relative;
}
.wpcu-product__img a {
  line-height: 0;
  display: block;
}
.wpcu-product__img .wpcu-overlay-content-bottom {
  padding: 0 15px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.wpcu-product__content:hover .wpcu-overlay-content-bottom {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  bottom: 20px;
}

/*
    Product action icons in hover
    * Add to cart
    * Zoom
    * Add to Wishlist
    * Compare
*/
.wpcu-product__action-icons {
  background: #fff;
  padding: 17px 10px;
  margin: 0 -15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wpcu-product__action-icons a {
  font-size: 18px;
  padding: 0 15px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  color: var(--wpcu-actionIconColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wpcu-product__action-icons a svg {
  width: 18px;
  height: auto;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  fill: var(--wpcu-actionIconColor);
}
.wpcu-product__action-icons a:hover svg {
  fill: var(--wpcu-actionIconColorHover);
}
.wpcu-product__action-icons a.woosw-added {
  text-decoration: none;
}
.wpcu-product__action-icons a.woosw-added:before {
  margin-right: 0;
  color: var(--wpcu-primaryColor);
}
.wpcu-product__action-icons a.woosw-added svg {
  display: none;
}
.wpcu-product__action-icons p.product {
  padding: 0 15px;
  line-height: 0;
  margin: 0;
}
.wpcu-product__action-icons--boxed {
  background: none;
  margin: -3px;
}
.wpcu-product__action-icons--boxed a {
  border: 1px solid var(--wpcu-borderColor);
  background: #fff;
  width: 45px;
  height: 45px;
  padding: 0;
  margin: 3px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.wpcu-product__action-icons--sm {
  margin: -5px;
}
.wpcu-product__action-icons--sm a {
  width: 40px;
  height: 40px;
  margin: 5px;
}
.wpcu-product__action-icons--circle {
  background: none;
  margin: -3px;
}
.wpcu-product__action-icons--circle a {
  border: 1px solid var(--wpcu-borderColor);
  background: #fff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  padding: 0;
  margin: 3px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.wpcu-product__action-icons--has-btn .wpcu-button a {
  width: auto;
  height: auto;
}
.wpcu-product__action-icons--vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* Product card */
.wpcu-product--card .wpcu-product__content {
  border: 1px solid var(--wpcu-borderColor);
  background: #fff;
}
.wpcu-product--card__body {
  padding: 20px;
}
.wpcu-product--card__footer {
  border-top: 1px solid var(--wpcu-borderColor);
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.wpcu-product--card-rounded {
  border-radius: 6px;
}
.wpcu-product--card-rounded .wpcu-product__content {
  border-radius: 6px;
}

/*===========================
 Utility Classes
===========================*/
.wpcu-text-center {
  text-align: center;
}

.wpcu-pos-relative {
  position: relative;
}

.wpcu-d-block {
  display: block;
}

.wpcu-d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wpcu-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wpcu-flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wpcu-flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wpcu-flex-align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wpcu-tr-0 {
  top: 0;
  right: 0;
}

.wpcu-tl-0 {
  top: 0;
  left: 0;
}

.wpcu-br-0 {
  bottom: 0;
  right: 0;
}

.wpcu-bl-0 {
  bottom: 0;
  left: 0;
}

.wpcu-mb-5 {
  margin-bottom: 5px !important;
}

.wpcu-mb-10 {
  margin-bottom: 10px !important;
}

.wpcu-mb-15 {
  margin-bottom: 15px !important;
}

.wpcu-mt-15 {
  margin-top: 15px !important;
}

/* Utility responsiveness */
@media (max-width: 575px) {
  .wpxu-d-sm-block {
    display: block;
  }
}
/*===========================
 Modal Styles
===========================*/
/* Modal Style */
.wpcu-modal.wpcu-modal--loading .wpcu-modal__content {
  position: relative;
  overflow: hidden;
}

.wpcu-modal.wpcu-modal--loading .wpcu-modal__content::after {
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #fff;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}

.wpcu-modal.wpcu-modal--loading .wpcu-modal__content::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid #ff5500;
  border-right-color: transparent;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: wpcu-rotate 2s linear infinite;
          animation: wpcu-rotate 2s linear infinite;
}

.wpcu-modal .wpcu-modal__content .wpcu-modal__body .add_to_cart_inline {
  border: 0 none !important;
  padding: 0 !important;
}

.wpcu-modal .wpcu-modal-close {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: #f3f3f3;
  text-decoration: none !important;
}

.wpcu-modal .wpcu-modal-close span {
  position: relative;
  top: -2px;
}

.wpcu-modal .wpcu-modal__product-title {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 0;
}
.wpcu-modal .wpcu-modal__product-title::before {
  content: none;
}

.wpcu-modal .wpcu-modal__product-image {
  margin-bottom: 20px;
}

.wpcu-modal .wpcu-modal__product-image img {
  max-width: 300px;
}

.wpcu-modal .wpcu-modal__product-price {
  margin-bottom: 10px;
}

.wpcu-modal .wpcu-modal__product-price .amount {
  font-size: 22px;
  font-weight: 600;
  color: var(--wpcu-productPriceColor);
}

.wpcu-modal .wpcu-modal__product-price ins {
  text-decoration: none;
}

.wpcu-modal .wpcu-modal__product-price del bdi {
  font-weight: 300;
  color: #9192a3;
}

.wpcu-modal .wpcu-modal__product-description {
  margin-bottom: 20px;
}

.wpcu-modal .wpcu-modal__product-description p {
  color: #505050;
  font-size: 16px;
}

.wpcu-modal .wpcu-modal__product-action p {
  border: 0 none !important;
  padding: 0 !important;
}

.wpcu-modal .wpcu-modal__product-action p a,
.wpcu-modal .wpcu-modal__product-action p a.added_to_cart {
  border-radius: 5px;
  line-height: 46px;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  color: var(--wpcu-buttonColor);
  background: var(--wpcu-buttonBgColor) !important;
  border: 0 none;
  text-decoration: none !important;
  display: inline-block;
}

.wpcu-modal .wpcu-modal__product-action p a:hover,
.wpcu-modal .wpcu-modal__product-action p a:focus,
.wpcu-modal .wpcu-modal__product-action p a:active {
  text-decoration: none !important;
  background: var(--wpcu-buttonBgColorHover) !important;
  color: var(--wpcu-buttonColorHover);
  border-radius: 5px;
}

.wpcu-modal .wpcu-modal__product-action p a.added {
  display: none !important;
}

/*===========================
 Pagination styles
===========================*/
.wpcu-pagination .pagination {
  margin: 0;
  padding: 0;
  border: 0 none;
  width: 100%;
  max-width: 100%;
}

.wpcu-pagination .pagination .nav-links {
  margin: 25px -5px -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wpcu-pagination.wpcu-pagination--left .pagination .nav-links {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.wpcu-pagination.wpcu-pagination--right .pagination .nav-links {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wpcu-pagination .pagination .nav-links .page-numbers {
  color: var(--wpcu-pagColor) !important;
  margin: 5px;
  font-size: 14px;
  text-decoration: none !important;
  border: 1px solid var(--wpcu-pagBorderColor) !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  background: var(--wpcu-pagBgColor) !important;
  width: 34px;
  min-width: 34px;
  height: 34px;
  min-height: 34px;
  border-radius: 3px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.wpcu-pagination .pagination .nav-links .page-numbers:before, .wpcu-pagination .pagination .nav-links .page-numbers:after {
  content: none;
}
.wpcu-pagination .pagination .nav-links .page-numbers.prev, .wpcu-pagination .pagination .nav-links .page-numbers.next {
  position: static;
}

.wpcu-pagination .pagination .nav-links .page-numbers svg {
  fill: var(--wpcu-pagColor) !important;
}

.wpcu-pagination .pagination .nav-links .page-numbers:hover svg {
  fill: var(--wpcu-pagColorHover) !important;
}

.wpcu-pagination .pagination .nav-links .page-numbers:hover {
  background: var(--wpcu-pagBgColorHover) !important;
  border-color: var(--wpcu-pagBorderColorHover) !important;
  color: var(--wpcu-pagColorHover) !important;
}

.wpcu-pagination .pagination .nav-links .page-numbers.current {
  background: var(--wpcu-pagActiveBgColor) !important;
  border-color: var(--wpcu-pagActiveBorderColor) !important;
  color: var(--wpcu-pagActiveColor) !important;
}

/* Carousel bullets pagination */
.wpcu-carousel-pagination {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wpcu-carousel-pagination .swiper-pagination-bullet-active {
  background: #ff5500;
}

/*===========================
 Style: Theme One
===========================*/
.wpcu-theme_1 .wpcu-product__img {
  margin-bottom: 20px;
}
.wpcu-theme_1 .wpcu-product__details {
  text-align: center;
  margin: -6px 0;
}
.wpcu-theme_1 .wpcu-product__details .wpcu-product__title,
.wpcu-theme_1 .wpcu-product__details .wpcu-product__price,
.wpcu-theme_1 .wpcu-product__details .wpcu-product__rating {
  padding: 6px 0;
}
.wpcu-theme_1 .wpcu-product__price {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wpcu-theme_1 .wpcu-product__rating {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*===========================
 Style: Theme Two
===========================*/
.wpcu-theme_2 .wpcu-product__img {
  position: relative;
  margin-bottom: 20px;
}
.wpcu-theme_2 .wpcu-product__img .wpcu-product__cover-content--middle {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.wpcu-theme_2 .wpcu-product__details {
  text-align: center;
  margin: -6px 0;
}
.wpcu-theme_2 .wpcu-product__details .wpcu-product__title,
.wpcu-theme_2 .wpcu-product__details .wpcu-product__price,
.wpcu-theme_2 .wpcu-product__details .wpcu-product__rating,
.wpcu-theme_2 .wpcu-product__details .wpcu-button {
  padding: 6px 0;
}
.wpcu-theme_2 .wpcu-product__price {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wpcu-theme_2 .wpcu-product__rating {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wpcu-theme_2 .wpcu-product__content:hover .wpcu-product__cover-content--middle {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

/*===========================
 Style: Theme Three
===========================*/
.wpcu-theme_3 .wpcu-product__content {
  border: 1px solid #e4e4ed;
  border-radius: 6px;
  padding: 10px;
  background: #fff;
}
.wpcu-theme_3 .wpcu-product__img {
  margin-bottom: 20px;
  position: relative;
}
.wpcu-theme_3 .wpcu-product__img:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.2);
  left: 0;
  top: 0;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.wpcu-theme_3 .wpcu-product__img img {
  border-radius: 6px;
}
.wpcu-theme_3 .wpcu-product__img .wpcu-product__cover-content--middle {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}
.wpcu-theme_3 .wpcu-product__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: -6px 0 6px;
}
.wpcu-theme_3 .wpcu-product__details .wpcu-product__title,
.wpcu-theme_3 .wpcu-product__details .wpcu-product__price,
.wpcu-theme_3 .wpcu-product__details .wpcu-product__rating {
  padding: 6px 0;
}
.wpcu-theme_3 .wpcu-product__content:hover .wpcu-product__cover-content--middle {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.wpcu-theme_3 .wpcu-product__content:hover .wpcu-product__img:before {
  visibility: visible;
  opacity: 1;
}

/*===========================
 Style: Theme Four
===========================*/
.wpcu-theme_4 .wpcu-product__details {
  margin-top: 17px;
}
.wpcu-theme_4 .wpcu-product__action-icons .woocommerce a {
  padding: 0;
  background: none !important;
  border: 0 none;
}
.wpcu-theme_4 .wpcu-product__action-icons .woocommerce a:hover {
  background: none;
  border: 0 none;
}
.wpcu-theme_4 .wpcu-product__action-icons .woocommerce a svg {
  width: 18px;
}
.wpcu-theme_4 .wpcu-product__action-icons .woocommerce a.added svg {
  fill: var(--wpcu-primaryColor);
}
.wpcu-theme_4 .wpcu-product__action-icons .woocommerce a.added_to_cart {
  display: none !important;
}

/*===========================
 Style: Theme Five
===========================*/
.wpcu-theme_5 .wpcu-product__details {
  margin-top: 17px;
}
.wpcu-theme_5 .wpcu-product__action-icons .woocommerce {
  padding: 0;
}
.wpcu-theme_5 .wpcu-product__action-icons .woocommerce a {
  padding: 0;
  background: #fff !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0;
  border: 1px solid var(--wpcu-borderColor);
}
.wpcu-theme_5 .wpcu-product__action-icons .woocommerce a:hover {
  background: #fff;
  border: 1px solid var(--wpcu-borderColor);
}
.wpcu-theme_5 .wpcu-product__action-icons .woocommerce a svg {
  width: 18px;
}
.wpcu-theme_5 .wpcu-product__action-icons .woocommerce a.added svg {
  fill: var(--wpcu-primaryColor);
}
.wpcu-theme_5 .wpcu-product__action-icons .woocommerce a.added_to_cart {
  display: none !important;
}

/*===========================
 Style: Theme six
===========================*/
.wpcu-theme_6 {
  /* Carousel marquee fix */
}
.wpcu-theme_6 .wpcu-product__details {
  margin-top: 17px;
}
.wpcu-theme_6 .wpcu-product__cover-content--top-left {
  top: 8px;
  left: 10px;
}
.wpcu-theme_6 .wpcu-product__cover-content--top-right {
  top: 8px;
  right: 10px;
}
.wpcu-theme_6 .wpcu-product__cover-content--bottom-right {
  bottom: 10px;
  right: 10px;
}
.wpcu-theme_6 .wpcu-product__cover-content--bottom-left {
  bottom: 10px;
  left: 10px;
}
.wpcu-theme_6 .wpcu-product__cover-content .wpcu-product__action-icons {
  overflow: hidden;
}
.wpcu-theme_6 .wpcu-product__cover-content .wpcu-product__action-icons a {
  position: relative;
  right: -65px;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.wpcu-theme_6 .wpcu-product__content .wpcu-product-price-action .wpcu-product__price {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.wpcu-theme_6 .wpcu-product__content .wpcu-product-price-action .wpcu-button {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  z-index: 1;
}
.wpcu-theme_6 .wpcu-product__content:hover .wpcu-product__action-icons a {
  right: 0;
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}
.wpcu-theme_6 .wpcu-product__content:hover .wpcu-product__action-icons a:first-child {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.wpcu-theme_6 .wpcu-product__content:hover .wpcu-product__action-icons a:nth-child(2) {
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}
.wpcu-theme_6 .wpcu-product__content:hover .wpcu-product__action-icons a:nth-child(3) {
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}
.wpcu-theme_6 .wpcu-product__content:hover .wpcu-product-price-action .wpcu-product__price {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.wpcu-theme_6 .wpcu-product__content:hover .wpcu-product-price-action .wpcu-button {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}
.wpcu-theme_6.wpcu-carousel--marquee {
  padding-bottom: 20px;
}

/*===========================
 Style: Theme Seven
===========================*/
.wpcu-theme_7 .wpcu-product__details {
  margin-top: 17px;
}
.wpcu-theme_7 .wpcu-product__price .wpcu-badge {
  margin-left: auto;
}
.wpcu-theme_7 .wpcu-product__cover-content--middle {
  background: #fff;
  padding: 45px 20px;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-box-shadow: 0 10px 10px rgba(84, 77, 124, 0.1);
          box-shadow: 0 10px 10px rgba(84, 77, 124, 0.1);
}
.wpcu-theme_7 .wpcu-product__cover-content--middle .wpcu-button p {
  display: block;
}
.wpcu-theme_7 .wpcu-product__action-icons {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wpcu-theme_7 .wpcu-product__content:hover .wpcu-product__cover-content--middle {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

/*===========================
 Style: Theme Eight
===========================*/
.wpcu-theme_8 {
  /* Carousel marquee fix */
}
.wpcu-theme_8 .wpcu-product__img {
  position: relative;
  overflow: hidden;
}
.wpcu-theme_8 .wpcu-product__img .wpcu-quick-view-btn {
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.wpcu-theme_8 .wpcu-product__details {
  text-align: center;
  margin-top: 17px;
}
.wpcu-theme_8 .wpcu-product__action-icons {
  width: 100%;
  padding: 0;
  margin: 20px 0 10px;
}
.wpcu-theme_8 .wpcu-product__action-icons .wpcu-button {
  line-height: 20px;
}
.wpcu-theme_8 .wpcu-product__action-icons .wpcu-button .button.product_type_external {
  line-height: 15px !important;
}
.wpcu-theme_8 .wpcu-product__action-icons .wpcu-button p.product {
  padding: 3px;
}
.wpcu-theme_8 .wpcu-product__action-icons .wpcu-button p.product a {
  margin: 0;
}
.wpcu-theme_8 .wpcu-product__content {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.wpcu-theme_8 .wpcu-product__content:hover {
  -webkit-box-shadow: 0 10px 10px rgba(84, 77, 124, 0.1);
          box-shadow: 0 10px 10px rgba(84, 77, 124, 0.1);
}
.wpcu-theme_8 .wpcu-product__content:hover .wpcu-quick-view-btn {
  visibility: visible;
  opacity: 1;
  bottom: 0;
}
.wpcu-theme_8.wpcu-carousel--marquee {
  padding-bottom: 20px;
}

/*===========================
 Style: Theme Nine
===========================*/
.wpcu-theme_9 .wpcu-product .wpcu-product--card__body {
  padding: 0;
}
.wpcu-theme_9 .wpcu-product__img {
  padding: 20px;
}
.wpcu-theme_9 .wpcu-product__img .wpcu-quick-view-btn {
  position: absolute;
  min-height: 40px;
  border-radius: 4px;
  left: 50%;
  top: 60%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.wpcu-theme_9 .wpcu-product__details {
  padding: 20px;
  background: #f5f5f5;
  border-radius: 0 0 6px 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.wpcu-theme_9 .wpcu-product__details__left {
  padding-right: 20px;
}
.wpcu-theme_9 .wpcu-product__details__right .wpcu-button--light a {
  background: #fff;
}
.wpcu-theme_9 .wpcu-product__details__right .wpcu-button--light a svg {
  fill: var(--wpcu-actionIconColor);
  width: 17px;
}
.wpcu-theme_9 .wpcu-product__details__right .woocommerce a {
  padding: 0;
  background: #fff !important;
  padding: 0 !important;
  border-radius: 50%;
  border-color: #fff !important;
}
.wpcu-theme_9 .wpcu-product__details__right .woocommerce a:hover {
  background: #fff;
  border: 1px solid #fff !important;
}
.wpcu-theme_9 .wpcu-product__details__right .woocommerce a svg {
  width: 18px;
}
.wpcu-theme_9 .wpcu-product__details__right .woocommerce a.added {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.wpcu-theme_9 .wpcu-product__details__right .woocommerce a.added svg {
  fill: var(--wpcu-primaryColor);
}
.wpcu-theme_9 .wpcu-product__details__right .woocommerce a.added_to_cart {
  display: none !important;
}
.wpcu-theme_9 .wpcu-product__content {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.wpcu-theme_9 .wpcu-product__content .wpcu-product__price__sale,
.wpcu-theme_9 .wpcu-product__content .wpcu-product__price s,
.wpcu-theme_9 .wpcu-product__content .wpcu-badge {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.wpcu-theme_9 .wpcu-product__content:hover {
  border-color: var(--wpcu-primaryColor);
}
.wpcu-theme_9 .wpcu-product__content:hover .wpcu-quick-view-btn {
  visibility: visible;
  opacity: 1;
  top: 50%;
}
.wpcu-theme_9 .wpcu-product__content:hover .wpcu-product__details {
  background: var(--wpcu-primaryColor);
}
.wpcu-theme_9 .wpcu-product__content:hover .wpcu-product__details .wpcu-product__title a,
.wpcu-theme_9 .wpcu-product__content:hover .wpcu-product__details .wpcu-product__price__sale,
.wpcu-theme_9 .wpcu-product__content:hover .wpcu-product__details .wpcu-product__price s,
.wpcu-theme_9 .wpcu-product__content:hover .wpcu-product__details .wpcu-badge {
  color: #fff !important;
}
.wpcu-theme_9 .wpcu-product__content:hover .wpcu-product__details .wpcu-badge {
  border-color: #fff !important;
}

/*===========================
 Style: Theme Ten
===========================*/
.wpcu-theme_10 .wpcu-product__cover-content--top-left {
  top: 8px;
  left: 10px;
}
.wpcu-theme_10 .wpcu-product__cover-content--top-right {
  top: 8px;
  right: 10px;
}
.wpcu-theme_10 .wpcu-product__cover-content--bottom-right {
  bottom: 10px;
  right: 10px;
}
.wpcu-theme_10 .wpcu-product__cover-content--bottom-left {
  bottom: 10px;
  left: 10px;
}
.wpcu-theme_10 .wpcu-product__action-icons {
  padding: 0;
}
.wpcu-theme_10 .wpcu-product__content:hover .wpcu-overlay-content-bottom {
  bottom: 0;
}

/*===========================
 Style: Theme Eleven
===========================*/
.wpcu-theme_11 {
  /* Carousel marquee fix */
}
.wpcu-theme_11.wpcu-carousel .wpcu-product {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.wpcu-theme_11.wpcu-carousel .wpcu-product:hover {
  padding-bottom: 80px;
  margin-top: -80px;
}
.wpcu-theme_11 .wpcu-product__type {
  margin-top: 17px;
}
.wpcu-theme_11 .wpcu-product__content {
  padding: 20px 20px;
  position: relative;
}
.wpcu-theme_11 .wpcu-product__content:hover .wpcu-product--card__footer {
  visibility: visible;
  opacity: 1;
  height: 84px;
}
.wpcu-theme_11 .wpcu-product--card__body {
  padding: 0;
}
.wpcu-theme_11 .wpcu-product--card__footer {
  padding: 20px 0;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  border: 1px solid var(--wpcu-borderColor);
  -webkit-box-shadow: 0 10px 10px rgba(84, 77, 124, 0.1);
          box-shadow: 0 10px 10px rgba(84, 77, 124, 0.1);
  position: absolute;
  width: calc(100% + 2px);
  background: #fff;
  left: -1px;
  bottom: 0;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  height: 0;
}
.wpcu-theme_11 .wpcu-product--card__footer .wpcu-product__action-icons {
  padding: 0;
}
.wpcu-theme_11 .wpcu-product--card__footer .wpcu-product__action-icons .wpcu-button {
  line-height: 20px;
}
.wpcu-theme_11 .wpcu-product--card__footer .wpcu-product__action-icons .wpcu-button .button.product_type_external {
  line-height: 15px !important;
}
.wpcu-theme_11 .wpcu-product--card__footer .wpcu-product__action-icons .wpcu-button p.product {
  padding: 3px;
}
.wpcu-theme_11 .wpcu-product--card__footer .wpcu-product__action-icons .wpcu-button p.product a {
  margin: 0;
}
.wpcu-theme_11.wpcu-carousel--marquee {
  padding-bottom: 20px;
}

/*===========================
 Style: Theme Twelve
===========================*/
.wpcu-theme_12 .wpcu-product__details {
  margin-top: 15px;
}
.wpcu-theme_12 .wpcu-product__action-icons {
  width: 100%;
  padding: 0;
  margin: 20px 0 2px;
}
.wpcu-theme_12 .wpcu-product__action-icons .wpcu-button {
  line-height: 0;
}
.wpcu-theme_12 .wpcu-product__action-icons .wpcu-button .button {
  line-height: 20px !important;
}
.wpcu-theme_12 .wpcu-product__action-icons .wpcu-button p.product {
  padding: 3px;
}
.wpcu-theme_12 .wpcu-product__action-icons .wpcu-button p.product a {
  margin: 0;
}
.wpcu-theme_12 .wpcu-product__action-icons a {
  border-radius: 3px;
}
.wpcu-theme_12 .wpcu-product__content {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.wpcu-theme_12 .wpcu-product__content:hover {
  border-color: #68b22e;
}

/*===========================
 Style: Theme Thirteen
===========================*/
.wpcu-theme_13 .wpcu-product--card__body {
  padding: 0;
}
.wpcu-theme_13 .wpcu-product__details {
  padding: 20px;
}
.wpcu-theme_13 .wpcu-product__img:before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.wpcu-theme_13 .wpcu-product__cover-content--middle {
  background: none;
  width: 100%;
  padding: 20px;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-box-shadow: none;
          box-shadow: none;
  z-index: 2;
}
.wpcu-theme_13 .wpcu-product__cover-content--middle .wpcu-button p {
  display: block;
  margin: 0 5px;
}
.wpcu-theme_13 .wpcu-product__action-icons {
  width: 100%;
  padding: 0;
  margin: 20px 0 5px;
}
.wpcu-theme_13 .wpcu-product__action-icons .wpcu-button {
  line-height: 0;
}
.wpcu-theme_13 .wpcu-product__action-icons .wpcu-button .button {
  line-height: 20px !important;
}
.wpcu-theme_13 .wpcu-product__action-icons a {
  border-radius: 3px;
}
.wpcu-theme_13 .wpcu-product__content:hover .wpcu-product__img:before {
  visibility: visible;
  opacity: 1;
}
.wpcu-theme_13 .wpcu-product__content:hover .wpcu-product__cover-content--middle {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}
.wpcu-theme_13 .wpcu-product__excerpt {
  border-top: 1px solid var(--wpcu-borderColor);
  margin-top: 15px;
  padding-top: 14px;
}

/*===========================
 Style: Theme Fourteen
===========================*/
.wpcu-theme_14 .wpcu-row {
  margin: 0;
}
.wpcu-theme_14 .wpcu-product {
  padding: 0;
  margin: 25px -1px 0;
  min-height: var(--wpcu-cardMinHeight);
}
.wpcu-theme_14 .wpcu-product__content {
  height: 100%;
}
.wpcu-theme_14 .wpcu-product__details {
  margin-top: 15px;
}
.wpcu-theme_14 .wpcu-product__action-icons {
  width: 100%;
  padding: 0;
  margin: 20px 0 2px;
}
.wpcu-theme_14 .wpcu-product__action-icons .wpcu-button {
  line-height: 0;
}
.wpcu-theme_14 .wpcu-product__action-icons .wpcu-button .button {
  line-height: 20px !important;
}
.wpcu-theme_14 .wpcu-product__action-icons .wpcu-button p.product {
  padding: 3px;
}
.wpcu-theme_14 .wpcu-product__action-icons .wpcu-button p.product a {
  margin: 0;
}
.wpcu-theme_14 .wpcu-product__action-icons a {
  border-radius: 0;
}