/*===========================
 Style: Theme Twelve
===========================*/
.wpcu-theme_12{
    .wpcu-product{
        @include e(details){
            margin-top: 15px;
        }
        @include e(action-icons){
            width: 100%;
            padding: 0;
            margin: 20px 0 2px;
            .wpcu-button{
                line-height: 0;
                .button{
                    line-height: 20px !important;
                }
                p.product{
                    padding: 3px;
                    a{
                        margin: 0;
                    }
                }
            }
            a{
                border-radius: 3px;
                margin: 2px;
            }
        }
        @include e(content){
            transition: 0.3s ease;
            &:hover{
                border-color: #68b22e;
            }
        }
    }
}
