/*===========================
 Style: Theme Four
===========================*/
.wpcu-theme_4{
    .wpcu-product{
        @include e(details){
            margin-top: 17px;
            .wpcu-d-flex{
                flex-wrap: wrap;
            }
        }
        @include e(action-icons){
            .woocommerce{
                a{
                    padding: 0;
                    margin: 0;
                    background: none !important;
                    border: 0 none;
                    &:hover{
                        background: none;
                        border: 0 none;
                    }
                    svg{
                        width: 18px;
                    }
                    &.added{
                        svg{
                            fill: var(--wpcu-primaryColor);
                        }
                    }
                    &.added_to_cart{
                        display: none !important;
                    }
                }
            }
        }
    }
}