/*===========================
 Style: Theme One
===========================*/
.wpcu-theme_1 {
    .wpcu-product {
        @include e(img) {
            margin-bottom: 20px;
        }

        @include e(details) {
            text-align: center;
            margin: -6px 0;

            .wpcu-product__title,
            .wpcu-product__price,
            .wpcu-product__rating {
                padding: 6px 0;
            }
        }

        @include e(price) {
            justify-content: center;
        }

        @include e(rating) {
            justify-content: center;
        }
    }
}