/*===========================
 Style: Theme Nine
===========================*/
.wpcu-theme_9{
    .wpcu-product{
        @include e(type){
            margin-top: 17px;
        }
        @include e(content){
            padding: 20px 20px;
            position: relative;
            &:hover{
                .wpcu-product--card__footer{
                    visibility: visible;
                    opacity: 1;
                    height: 84px;
                }
            }
        }
        @include m(card){
            @include e(body){
                padding: 0;
            }
            @include e(footer){
                padding: 20px 0;
                transition: 0.3s ease-out;
                border-top: 1px solid var(--borderColor);
                box-shadow: 0 10px 10px rgba(#544d7c, 0.1);
                position: absolute;
                width: calc(100% + 2px);
                background: #fff;
                left: -1px;
                bottom: 0;
                transform: translateY(100%);
                z-index: 1;
                visibility: hidden;
                opacity: 0;
                transition: 0.3s ease;
                height: 0;
                border: 1px solid var(--borderColor);
                border-top: 0 none;
                .wpcu-product__action-icons{
                    padding: 0;
                }
            }
        }
    }
}