/*===========================
 Style: Theme Fourteen
===========================*/
.wpcu-theme_14{
    .wpcu-row{
        margin: 0;
    }
    .wpcu-product{
        padding: 0;
        margin: 25px -1px 0;
        min-height: var(--wpcu-cardMinHeight);
        @include e(content){
            height: 100%;
        }
        @include e(details){
            margin-top: 15px;
        }
        @include e(action-icons){
            width: 100%;
            padding: 0;
            margin: 20px 0 2px;
            .wpcu-button{
                line-height: 0;
                .button{
                    line-height: 20px !important;
                }
                p.product{
                    padding: 3px;
                    a{
                        margin: 0;
                    }
                }
            }
            a{
                border-radius: 0;
            }
        }
    }
}
