.elementor-control-overlay_background_title.tpg-padding-left + .elementor-control,
.elementor-control.tpg-padding-left {
    padding-left: 40px !important;
}


.elementor-control-overlay_background_title.tpg-padding-left + .elementor-control::before,
.elementor-control.tpg-padding-left2x::before,
.elementor-control.tpg-padding-left::before {
    content: "—";
    position: absolute;
    left: 24px;
    top: 8px;
}

.elementor-control-type-switcher.elementor-control.tpg-padding-left2x::before,
.elementor-control-type-switcher.elementor-control.tpg-padding-left::before {
    top: 3px;
}