/*
    * Buttons
    ? Modifiers: --sm, --rounded, --rounded-circle, --icon-circle, --outlined, --light
*/
.wpcu-button {
    display: inline-block;

    p {
        margin: 0;
        display: inline-block;
    }

    .button,
    .added_to_cart {
        min-height: 40px;
        background: var(--buttonBgColor) !important;
        color: var(--buttonColor) !important;
        border-radius: 0;
        text-transform: uppercase;
        font-size: 12px;
        padding: 13px 15px;
        display: flex !important;
        align-items: center;
        justify-content: center;
        text-decoration: none !important;
        transition: 0.3s ease;
        border: 1px solid transparent;
        line-height: unset !important;

        &:hover {
            text-decoration: none !important;
            background: var(--buttonBgColorHover) !important;
            color: var(--buttonColorHover) !important;
        }
    }

    @include m(outlined) {
        .button,
        .added_to_cart {
            border: 1px solid $borderColor;
            background: #fff !important;
            color: $textLight !important;
            &:hover{
                color: var(--buttonColor) !important;
                background: var(--buttonBgColorHover) !important;
                border-color: var(--buttonBgColorHover) !important;
            }
        }
    }

    @include m(sm) {
        .button,
        .added_to_cart {
            min-height: 35px;
            padding: 0 12px;
        }
    }

    @include m(rounded) {
        .button,
        .added_to_cart {
            border-radius: 3px;
        }
    }

    @include m(rounded-circle) {
        .button,
        .added_to_cart {
            border-radius: 20px;
        }
    }

    @include m(icon-circle) {
        a {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: var(--qvBgColor);

            svg {
                width: 14px;
                height: 14px;
                fill: var(--qvIconColor);
            }
        }
    }
    @include m(light){
        .button{
            background: #fff;
            border-color: #fff;
            color: $textDark !important;
            &:hover{
                color: #fff !important;
                border-color: $primary;
                background: $primary;
            }
        }
    }
}
/* Button tweaks */
.wpcu-button .button.added{
    display: none;
}