/*
    * Buttons
    ? Modifiers: --sm, --lg, --rounded, --rounded-circle, --icon-circle, --outlined, --light
*/
.wpcu-button {
    display: inline-block;

    p {
        margin: 0;
        display: inline-block;
    }

    .button,
    .added_to_cart,
    .button.added {
        min-height: 40px;
        background: var(--wpcu-buttonBgColor) !important;
        color: var(--wpcu-buttonColor) !important;
        border-radius: 0;
        text-transform: uppercase;
        font-size: 12px;
        padding: 0 15px !important;
        display: flex !important;
        align-items: center;
        justify-content: center;
        text-decoration: none !important;
        transition: 0.3s ease;
        border: 1px solid transparent;
        line-height: 15px !important;

        &:hover {
            text-decoration: none !important;
            background: var(--wpcu-buttonBgColorHover) !important;
            color: var(--wpcu-buttonColorHover) !important;
        }
    }
    .button.product_type_external{
        max-width: 150px;
        line-height: 15px !important;
    }

    @include m(outlined) {
        .button,
        .added_to_cart {
            border: 1px solid $borderColor;
            background: #fff !important;
            color: $textLight !important;
            &:hover{
                color: var(--wpcu-buttonColor) !important;
                background: var(--wpcu-buttonBgColorHover) !important;
                border-color: var(--wpcu-buttonBgColorHover) !important;
            }
        }
    }

    @include m(sm) {
        .button,
        .added_to_cart {
            min-height: 35px;
            padding: 0 12px;
        }
    }

    @include m(lg) {
        .button,
        .added_to_cart {
            min-height: 45px;
            padding: 0 12px;
        }
    }

    @include m(rounded) {
        .button,
        .added_to_cart {
            border-radius: 3px;
        }
    }

    @include m(rounded-circle) {
        .button,
        .added_to_cart {
            border-radius: 20px;
        }
    }

    @include m(icon-circle) {
        a {
            display: inline-flex !important;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: var(--wpcu-primaryColor);

            svg {
                width: 14px;
                height: 14px;
                fill: #fff;
            }
        }
    }
    @include m(light){
        .button{
            background: #fff;
            border-color: #fff;
            color: $textDark !important;
            &:hover{
                color: #fff !important;
                border-color: $primary;
                background: $primary;
            }
        }
    }
    @include m("white"){
        .button,
        .added_to_cart{
            background: #fff !important;
            border-color: var(--wpcu-borderColor);
            color: var(--wpcu-buttonColor) !important;
            &:hover{
                color: var(--wpcu-buttonColorHover) !important;
                background: var(--wpcu-buttonBgColorHover) !important;
                border-color: var(--wpcu-buttonBgColorHover);
            }
        }
    }
}
/* Quick view button */
.wpcu-quick-view-btn{
    min-height: 32px;
    background: var(--wpcu-quickViewBtnBg) !important;
    color: var(--wpcu-quickViewBtnColor) !important;
    font-size: var(--wpcu-quickViewBtnSize) !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    text-decoration: none !important;
    &:hover{
        background: var(--wpcu-quickViewBtnBgHover) !important;
        color: var(--wpcu-quickViewBtnColorHover) !important;
    }
}

/* Button tweaks */
.wpcu-button .button.added{
    display: none !important;
}