/* Product title */
.wpcu-product__title {
    margin: 0 !important;
    line-height: normal !important;
    font-size: unset !important;
    font-family: inherit !important;
    &::before{
        content: none;
    }

    a {
        text-decoration: none !important;
        font-size: var(--wpcu-productTitleSize) !important;
        font-weight: normal;
        color: var(--wpcu-productTitleColor) !important;
        letter-spacing: normal;
        transition: 0.3s ease;
        &:hover{
            color: var(--wpcu-productTitleColorHover) !important;
        }
    }
}
.wpcu-product .wpcu-product__title a{
    text-decoration: none !important;
}

/* Product subtitle */
.wpcu-product__subtitle{
    display: block;
    a{
        font-size: 14px;
        color: #9192a3;
        display: block;
        text-decoration: none !important;
    }
}


/* Product type */
.wpcu-product__type{
    display: block;
    a{
        color: var(--wpcu-productTypeColor) ;
        font-size: var(--wpcu-productTypeSize);
        display: block;
        text-decoration: none !important;
    }
}

/* Product excerpt */
.wpcu-product__excerpt{
    p{
        font-size: 15px;
        line-height: 1.7;
        margin: 0;
        color: #5a6671;
    }
}

/* Product Price */
.wpcu-product__price {
    line-height: normal;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -4px;

    @include e(sale) {
        display: inline-block;
        font-size: var(--wpcu-productPriceSize);
        line-height: normal;
        color: var(--wpcu-productPriceColor);
        margin: 0 4px;
    }

    s {
        font-weight: 300;
        display: inline-block;
        font-size: 14px;
        color: $textLight;
        margin: 0 4px;
    }

    @include e(discount-badge) {
        margin: 0 4px;
    }
}

/* Product rating */
.wpcu-product__rating{
    display: flex;
    align-items: center;
    @include e(stars){
        position: relative;
        @include e(wrap){
            display: flex;
            align-items: center;
            svg{
                width: var(--wpcu-productRatingSize);
                fill: var(--wpcu-productRatingColor);
            }
        }
        @include e(solid){
            display: flex;
            align-items: center;
            position: absolute;
            left: 0;
            top: 0;
            overflow: hidden;
            svg{
                min-width: var(--wpcu-productRatingSize);
                fill: var(--wpcu-productRatingColor);
            }
        }
    }
    .wpcu-product__rating__total {
        font-size: 14px;
        color: $textLight;
        display: inline-block;
        padding-left: 4px;
        position: relative;
        top: 2px;
    }
}

/*
    Product cover content placement
    .wpcu-product__cover-content
        --modifiers:
            top-left,
            top-right,
            bottom-right,
            bottom-left,
            middle
*/
.wpcu-product__cover-content{
    font-size: initial;
    line-height: unset;
    position: absolute;
    @include m(top-left){
        top: 20px;
        left: 20px;
    }
    @include m(top-right){
        top: 20px;
        right: 20px;
    }
    @include m(bottom-right){
        bottom: 20px;
        right: 20px;
    }
    @include m(bottom-left){
        left: 20px;
        bottom: 20px;
    }
    @include m(middle){
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .wpcu-product__action-icons{
        padding: 0;
    }
}

.wpcu-product{
    @include e(img) {
        position: relative;
        a{
            line-height: 0;
            display: block;
        }
        .wpcu-overlay-content-bottom {
            padding: 0 15px;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            text-align: center;
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
            transition: 0.3s ease;
            box-sizing: border-box;
        }
    }
    @include e(content) {
        &:hover {
            .wpcu-overlay-content-bottom {
                visibility: visible;
                opacity: 1;
                pointer-events: all;
                bottom: 20px;
            }
        }
    }
}

/*
    Product action icons in hover
    * Add to cart
    * Zoom
    * Add to Wishlist
    * Compare
*/
.wpcu-product__action-icons{
    background: #fff;
    padding: 17px 10px;
    margin: 0 -15px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    a{
        font-size: 18px;
        padding: 0 15px;
        transition: 0.3s ease;
        color: var(--wpcu-actionIconColor);
        display: flex;
        align-items: center;
        justify-content: center;
        svg{
            width: 18px;
            height: auto;
            transition: 0.3s ease;
            fill: var(--wpcu-actionIconColor);
        }
        &:hover{
            svg{
                fill: var(--wpcu-actionIconColorHover);
            }
        }
        &.woosw-added{
            text-decoration: none;
            &:before{
                margin-right: 0;
                color: var(--wpcu-primaryColor);
            }
            svg{
                display: none;
            }
        }
    }
    p.product{
        padding: 0 15px;
        line-height: 0;
        margin: 0;
    }
    @include m(boxed){
        background: none;
        margin: -3px;
        a{
            border: 1px solid var(--wpcu-borderColor);
            background: #fff;
            width: 45px;
            height: 45px;
            padding: 0;
            margin: 3px;
            flex: none;
        }
    }
    @include m(sm){
        margin: -5px;
        a{
            width: 40px;
            height: 40px;
            margin: 5px;
        }
    }
    @include m(circle){
        background: none;
        margin: -3px;
        a{
            border: 1px solid var(--wpcu-borderColor);
            background: #fff;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            padding: 0;
            margin: 3px;
            flex: none;
        }
    }
    @include m(has-btn){
        .wpcu-button{
            a{
                width: auto;
                height: auto;
            }
        }
    }
    @include m(vertical){
        flex-direction: column;
    }
}

/* Product card */
.wpcu-product{
    @include m(card){
        .wpcu-product__content{
            border: 1px solid var(--wpcu-borderColor);
            background: #fff;
        }
        @include e(body){
            padding: 20px;
        }
        @include e(footer){
            border-top: 1px solid var(--wpcu-borderColor);
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
    @include m(card-rounded){
        border-radius: 6px;
        .wpcu-product__content{
            border-radius: 6px;
        }
    }
}