/* Elementor widgets style fix */
.elementor-widget-container{
    .wpcu-theme_6 .wpcu-product--fix{
        .wpcu-product__details{
            .wpcu-d-flex{
                flex-wrap: wrap;
            }
            .wpcu-product__rating{
                flex: 0 0 100%;
                margin-top: 5px;
            }
        }
        .wpcu-product__content .wpcu-product-price-action .wpcu-button a {
            padding: 13px !important;
            font-size: 12px;
            min-height: auto;
        }
        .wpcu-product__action-icons--boxed a{
            width: 35px;
            height: 35px;
            svg{
                width: 15px;
            }
        }
    }
    .wpcu-theme_7 .wpcu-product--fix{
        .wpcu-product__cover-content--middle{
            width: calc(100% - 20px);
            height: calc(100% - 20px);
            padding: 15px;
        }
    }
}