/* General Styles */
.wpcu-products {
    max-width: 100% !important;
    width: 100% !important;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    position: relative;

}

/* Product image tweaks */
.wpcu-product{
    box-sizing: border-box;
    .wpcu-product__img{
        img {
            width: 100%;
            transition: 0.4s ease;
        }

        /* Image Zoom In hover effect */
        @include m(zoom-in){
            &>a{
                display: block; 
                overflow: hidden;
            }
            img {
                transform: scale(1);
            }
            &:hover{
                img{
                    transform: scale(1.15);
                }
            }
        }

        /* Image Zoom Out hover effect */
        @include m(zoom-out){
            &>a{
                display: block; 
                overflow: hidden;
            }
            img {
                transform: scale(1.15);
            }
            &:hover{
                img{
                    transform: scale(1);
                }
            }
        }

        /* Image Blur In hover effect */
        @include m(blur-in){
            &>a{
                display: block; 
                overflow: hidden;
            }
            img {
                transform: scale(1);                
            }
            &:hover{
                img{
                    filter: blur(2px);
                    transform: scale(1.15);
                }
            }
        }

        /* Image Blur Out hover effect */
        @include m(blur-out){
            &>a{
                display: block; 
                overflow: hidden;
            }
            img {
                transform: scale(1.15);
            }
            &:hover{
                img{
                    filter: blur(2px);
                    transform: scale(1);
                }
            }
        }

        /* Image Grayscale In hover effect */
        @include m(grayscale-in){
            &>a{
                display: block; 
                overflow: hidden;
            }
            img {
                transform: scale(1);                
            }
            &:hover{
                img{
                    filter: grayscale(80%);
                    transform: scale(1.15);
                }
            }
        }

        /* Image Grayscale Out hover effect */
        @include m(grayscale-out){
            &>a{
                display: block; 
                overflow: hidden;
            }
            img {
                transform: scale(1.15);
            }
            &:hover{
                img{
                    filter: grayscale(80%);
                    transform: scale(1);
                }
            }
        }
    }
}

/* Lazy load */
.wpcu-lazy-load {
    position: relative;

    &:before {
        content: "";
        z-index: 9998;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: #f5f5f5;
    }

    &:after {
        content: "";
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid $primary;
        border-right-color: transparent;
        animation: wpcu-rotate 2s linear infinite;
        position: absolute;
        left: calc(50% - 25px);
        top: calc(50% - 25px);
        transform: translate(-50%, -50%);
        z-index: 9999;
    }
}

/* Carousel nav style */
.wpcu-carousel-nav {
    margin: 0 -5px;
    padding: 0 15px;

    @include e(btn) { 
        width: var(--wpcu-navBoxWidth);
        height: var(--wpcu-navBoxHeight);
        border: 1px solid var(--wpcu-navBorderColor) !important;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 0 5px;
        cursor: pointer;
        transition: 0.3s ease;
        background: var(--wpcu-navBgColor) !important;

        svg {
            width: 6px;
            fill: var(--wpcu-navArrowColor) !important;
        }

        &:hover {
            border-color: var(--wpcu-navBorderColorHover) !important;
            background: var(--wpcu-navBgColorHover) !important;

            svg {
                fill: var(--wpcu-navArrowColorHover) !important;
            }
        }
    }

    @include m(circle) {
        .wpcu-carousel-nav__btn {
            border-radius: 50%;
        }
    }

    @include m(bottom-left) {
        margin-top: 35px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0;
    }

    @include m(bottom-middle) {
        margin-top: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @include m(bottom-right) {
        margin-top: 35px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0;
    }

    @include m(middle) {
        position: absolute;
        width: 100%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 99;
        margin: 0;
        padding: 0;
        pointer-events: none;
        .wpcu-carousel-nav__btn{
            margin: 0;
            pointer-events: all;
        }
        .wpcu-carousel-nav__btn--prev {
            margin-left: 0;
        }

        .wpcu-carousel-nav__btn--next {
            margin-right: 0;
        }
    }

    @include m(top-right) {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 30px;
        padding: 0;
    }

    @include m(top-left) {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 30px;
        padding: 0;
    }

    @include m(top-middle) {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        padding: 0;
    }
}


/* Header style */
.wpcu-products__header {
    margin:0 0 30px !important;
    max-width: 100% !important;
    width: 100% !important;
    padding: 0 15px;
    text-align: left !important;
}

.wpcu-products__header.wpcu-products__header--middle {
    text-align: center !important;
}

.wpcu-products__header.wpcu-products__header--right {
    text-align: right !important;
} 

.wpcu-products__header h2 {
    font-size: var(--wpcu-headerFontSize) !important;
    font-weight: var(--wpcu-headerFontWeight);

    color: var(--wpcu-headerFontColor) !important;
    background-color: var(--wpcu-headerBgColor) !important;

    padding-top: var(--wpcu-headerPaddingTop);
    padding-right: var(--wpcu-headerPaddingRight);
    padding-bottom: var(--wpcu-headerPaddingBottom);
    padding-left: var(--wpcu-headerPaddingLeft);

    margin-top: var(--wpcu-headerMarginTop);
    margin-right: var(--wpcu-headerMarginRight);
    margin-bottom: var(--wpcu-headerMarginBottom);
    margin-left: var(--wpcu-headerMarginLeft);

    border-style: var(--wpcu-headerBorderStyle);
    border-top-width: var(--wpcu-headerBorderWidthTop);
    border-right-width: var(--wpcu-headerBorderWidthRight);
    border-bottom-width: var(--wpcu-headerBorderWidthBottom);
    border-left-width: var(--wpcu-headerBorderWidthLeft);

    border-top-left-radius: var(--wpcu-headerBorderRadiusLeftTop);
    border-top-right-radius: var(--wpcu-headerBorderRadiusLeftRight);
    border-bottom-right-radius: var(--wpcu-headerBorderRadiusBottomRight);
    border-bottom-left-radius: var(--wpcu-headerBorderRadiusBottomLeft);
    border-color: var(--wpcu-headerBorderColor);

    transition: var(--wpcu-headerTransitionDuration);

    &:hover {
        border-color: var(--wpcu-headerBorderColorHover);
        color: var(--wpcu-headerFontColorHover) !important;
        background-color: var(--wpcu-headerBgColorHover) !important;
    }
}

/* Carousel default */
.wpcu-carousel{
    overflow: hidden;
    /* Carousel marquee effect */
    @include m("marquee"){
        .swiper-wrapper{
            transition: none !important;
        }
        &:hover{
            .swiper-wrapper{
                animation-play-state: paused;
            }
        }
        .wpcu-carousel-nav{
            display: none;
        }
    }
}
