/*===========================
 Utility Classes
===========================*/
.wpcu-text-center {
    text-align: center;
}
.wpcu-pos-relative{
    position: relative;
}
.wpcu-d-block{
    display: block;
}
.wpcu-d-flex{
    display: flex;
}
.wpcu-space-between{
    justify-content: space-between;
}
.wpcu-flex-center{
    justify-content: center;
}
.wpcu-flex-column{
    flex-direction: column;
}
.wpcu-flex-align-center{
    align-items: center;
}

.wpcu-tr-0{
    top:0;
    right: 0;
}
.wpcu-tl-0{
    top:0;
    left: 0;
}
.wpcu-br-0{
    bottom:0;
    right: 0;
}
.wpcu-bl-0{
    bottom:0;
    left: 0;
}
.wpcu-mb-5{
    margin-bottom: 5px !important;
}
.wpcu-mb-10{
    margin-bottom: 10px !important;
}
.wpcu-mb-15{
    margin-bottom: 15px !important;
}
.wpcu-mt-15{
    margin-top: 15px !important;
}


/* Utility responsiveness */
@media (max-width: 575px){
    .wpxu-d-sm-block{
        display: block;
    }
}