body.post-type-wcpcsu-custom-post {
    font-family: 'Roboto', sans-serif;
}


.lcsp-tabs-menu {
    margin-top: 30px;
    margin-bottom: 15px;
    clear: both;
    max-width: max-content;
    background: white;
    padding: 6px;
    border-radius: 4px;
    box-shadow: 0 3px 5px rgba(173, 180, 210, .05);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.lcsp-tabs-menu li {
    float: left;
    margin-bottom: 0;
    padding: 8px 15px;
    font-weight: 500;
    line-height: 24px;
    font-size: 14px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lcsp-tabs-menu li:not(:last-child) {
    margin-right: 15px;
}

.lcsp-tabs-menu a:active,
.lcsp-tabs-menu a:focus,
.lcsp-tabs-menu .current a:active,
.lcsp-tabs-menu .current a:focus {
    box-shadow: none;
}

.lcsp-tabs-menu li a {
    color: #5A5F7D;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.lcsp-tabs-menu li a span {
    font-size: 15px;
    margin-right: 6px;
    color: #A1A8C6;
}

.lcsp-tabs-menu li.current {
    position: relative;
    background-color: rgba(131, 78, 255, .15);
    z-index: 5;
}

.lcsp-tabs-menu .current a span,
.lcsp-tabs-menu .current a {
    color: #834EFF;
}



/* .lcsp-tab*/
.lcsp-tab-content {
    background-color: #fff;
    margin-bottom: 20px;
    width: auto;
    border: none;
    box-shadow: 0 3px 5px rgba(173, 180, 210, .10);
    border-radius: 4px;
    display: none;
}

.lcsp-tab-content .cmb2-metabox{
    padding: 12px 40px;
}

.lcsp-withoutTab-content{
    background-color: #fff;
    margin-bottom: 20px;
    width: auto;
    border: none;
    box-shadow: 0 3px 5px rgba(173, 180, 210, .10);
    border-radius: 4px;
}

#lcsp-tab-1 {
    display: block;
}

.lcsp_shortcode {
    background-color: #71BBDE;
    color: #ffffff;
    padding: 8px 8px;
    text-align: center;
}

#poststuff .lcsp_shortcode h2 {
    color: #ffffff;
    text-align: center;
    margin-top: 0 !important;
    line-height: normal;
    border-bottom: 1px solid #fff;
    font-weight: bold;
    font-size: 1.5em;
    padding: 0 0 3px;
}

.lcsp_shortcode textarea {
    text-align: center;
}

.lcsp_shortcode p {
    margin-bottom: 8px;
    font-size: 15px;
}

.lcsp_shortcode textarea {
    padding: 4px 0px;
}

.lcsp_settings_page .metabox-holder {
    background: #ffffff;
}

.lcsp_settings_page input.regular-text {
    width: 15em;
}

#lcsp_style_settings .regular-text,
#lcsp_slider_settings .regular-text {
    width: 105px;
}

.lcsp-th {
    color: #222;
    float: left;
    font-weight: 600;
    line-height: 1.3;
    padding: 20px 10px 20px 0;
    vertical-align: top;
    width: 200px;
}

.lcsp-th label {
    display: block;
    padding: 5px 0;
}

.postbox-container .lcsp-th {
    width: 10%;
    padding: 0 1% 0 0;
}

.postbox-container .lcsp-row {
    padding: 0 0 1.8em;
    margin: 0 0 .8em;
}

.postbox-container .lcsp-th+.lcsp-td {
    width: 89%;
    float: right;
}

.postbox-container .lcsp-row {
    padding: 0 0 1.8em;
    margin: 0 0 .8em;
}

input.lcsp-text-input {
    width: 250px;
}

.lcsp_settings_page .metabox-holder {
    padding: 0 7px;
}

.post-type-lcsp_sgenerator .wrap h1 a.page-title-action {
    background: #F66095;
    color: #ffffff;
    font-size: 14px;
}

.post-type-lcsp_sgenerator .wrap h1 a.page-title-action:hover {
    background: #DC4178;
    color: #ffffff;
}

.lcsp-checkbox-wrapper {
    margin-left: 24px;
    padding: 8px 10px;
    background: #F5F5F5;
    font-size: 13px;
}

.lcsp-checkbox-wrapper ul li {
    display: inline-block;
    padding: 0px 9px;
}

.lcsp-checkbox-wrapper ul li:first-child {
    padding-left: 0;
}

.lcsp_active {
    display: block !important;
}

.lfm.lcsp_active {
    display: inline-block !important;
}

#lcsp_logos_byid {
    margin-left: 26px;
    margin-bottom: 5px;
    width: 205px;
}

#lcsp_logos_from_year {
    margin-left: 26px;
    margin-bottom: 5px;
}

#lcsp_logos_from_month {
    margin-left: 26px;
    margin-bottom: 5px;
}

#lcsp_logos_from_month_year {
    margin-left: 6px;
}

#lcsp-tab-4 h2 {
    font-size: 23px;
    font-weight: 400;
    padding: 9px 15px 4px 0;
    line-height: 29px;
    margin: 0;
}

#lcsp-tab-4 p {
    margin-top: 6px;
    margin-bottom: 0;
    font-size: 14px;
}

/* style for lcs support page*/
.lcs_support_wrapper {
    margin-top: 20px;
}

.lcs_support_wrapper .wrap {
    float: left;
    margin-right: 20px;
}

.lcs_support_wrapper .wrap.wrap_left {
    width: calc(100% - 350px);
}

.lcs_support_wrapper .wrap.wrap_left .postbox h2 {
    margin: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #ededed;
}

.lcs_support_wrapper .wrap.wrap_right {
    width: 300px;
}

.lcs_support_wrapper .wrap.wrap_right .text-center {
    text-align: center;
}

.lcs_support_wrapper .wrap.wrap_right .postbox {
    background: #f0f9dc;
    padding: 0 0 10px;
}

.lcs_pro_features li {
    font-size: 13px;
    line-height: 22px;
    color: #333;
    position: relative;
    margin-bottom: 6px;
}

.lcs_pro_features li:before {
    content: "\f522";
    font-family: 'dashicons', san-serif;
    margin-right: 4px;
    display: inline-block;
    vertical-align: -1.9px;
}

.lcs-upgrade-content-wrapper-right h3 {
    font-size: 15px;
    font-weight: normal;
    color: #ffffff;
    background: #0085ba;
    text-align: center;
    padding: 12px 0;
    margin: 0;
}

ul.lcs_pro_features {
    padding: 0 23px;
}


/* style for lcs support page*/
.lcs_support_wrapper {
    margin-top: 20px;
}

.lcs_support_wrapper .wrap {
    float: left;
    margin-right: 20px;
}

.lcs_support_wrapper .wrap.wrap_left {
    width: calc(100% - 350px);
}

.lcs_support_wrapper .wrap.wrap_left .postbox h2 {
    margin: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #ededed;
}

.lcs_support_wrapper .wrap.wrap_right {
    width: 300px;
}

.lcs_support_wrapper .wrap.wrap_right .text-center {
    text-align: center;
}

.lcs_support_wrapper .wrap.wrap_right .postbox {
    background: #f0f9dc;
    padding: 0 0 10px;
}

.lcs_pro_features li {
    font-size: 13px;
    line-height: 22px;
    color: #333;
    position: relative;
    margin-bottom: 6px;
}

.lcs_pro_features li:before {
    content: "\f522";
    font-family: 'dashicons', san-serif;
    margin-right: 4px;
    display: inline-block;
    vertical-align: -1.9px;
}

.lcs-upgrade-content-wrapper-right h3 {
    font-size: 15px;
    font-weight: normal;
    color: #ffffff;
    background: #0085ba;
    text-align: center;
    padding: 12px 0;
    margin: 0;
}

ul.lcs_pro_features {
    padding: 0 23px;
}

.wrap .lcs-upgrade-content-wrapper {
    padding: 25px;
}

/* css for support page*/
.adl_support_wrapper .wrap.wrap_left {
    width: calc(100% - 350px);
}

.adl_support_wrapper .wrap {
    float: left;
    margin-right: 20px;
}

.adl_support_wrapper .wrap.wrap_right {
    width: 300px;
}

.adl_support_wrapper .wrap.wrap_right .postbox {
    background: #f0f9dc;
    padding: 0 0 10px;
}

ul.adl_pro_features {
    padding: 0 23px;
}

.adl_pro_features li {
    font-size: 13px;
    line-height: 22px;
    color: #333;
    position: relative;
    margin-bottom: 6px;
}

.adl_pro_features li:before {
    content: "\f522";
    font-family: 'dashicons', 'sans-serif';
    margin-right: 4px;
    display: inline-block;
    vertical-align: -1.9px;
}

.adl-upgrade-content-wrapper-right h3 {
    font-size: 15px;
    font-weight: normal;
    color: #ffffff;
    background: #0085ba;
    text-align: center;
    padding: 12px 0;
    margin: 0;
}

.adl_support_wrapper .wrap.wrap_right .text-center {
    text-align: center;
}

.wrap .wpcs-admin-extra {
    padding: 20px;
}


/*  Add New Styles  */

#postbox-container-2 .postbox {
    background: transparent;
    border: none;
    box-shadow: none;
}

#postbox-container-2 .postbox .inside {
    padding: 0;
    margin: 0;
}

#postbox-container-1 .postbox {
    box-shadow: 0 3px 5px rgba(173, 180, 210, .05);
    background: #fff;
    border-radius: 4px;
    border: none;
}

.cmb2-metabox-content {
    display: flex;
    flex-wrap: wrap;
}

.cmb2-metabox-card {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    text-align: center;
    padding: 40px 75px;
}

.cmb2-metabox-card2 {
    border-right: 1px solid #F1F2F6;
}

.cmb2-metabox-card h6 {
    font-size: 17px;
    color: #272B41;
    font-weight: 500;
    line-height: 24px;
    margin: 0;
}

.cmb2-metabox-card p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #5A5F7D;
    margin: 0;
    margin-top: 17px;
}

.cmb2-metabox-card textarea {
    border: 1px solid #E3E6EF;
    background-color: #F4F5F7;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    padding: 6px 40px;
    height: 41px;
    color: #272B41;
    white-space: normal;
    display: flex;
    align-items: center;
    text-align: justify;
    text-align-last: center;
    white-space: nowrap;
    resize: none;
    width: unset;
}

.cmb2-metabox-card2 textarea {
    width: 183px;
    max-width: 100%;
}

.cmb2-metabox-card3 textarea {
    width: 377px;
    max-width: 100%;
}

.cmb2-metabox-card-textarea {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;

}

.cmb2-metabox-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to right top, #6729f9, #833afa, #9a4bfb, #ae5cfd, #c06dff);
    height: 72px;
    padding: 0 30px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.cmb2-metabox-header h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: white;
    margin: 0;
}

.cmb2-metabox-header h4 span {
    font-size: 20px;
    margin-right: 12px;
}

.cmb2-metabox-header p {
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    color: rgba(255, 255, 255, .60);
}

.cmb2-metabox-header a {
    text-decoration: none;
}

.cmb2-metabox-header p span {
    margin-right: 5px;
}

/*  Input  */
.post-type-wcpcsu-custom-post #titlediv #title-prompt-text{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    padding: 13px 20px;
    color: #A1A8C6;
}

.post-type-wcpcsu-custom-post #titlediv #title {
    border: 1px solid #C6D0DC;
    border-radius: 5px;
    height: 50px;
    color: #A1A8C6;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.d-block{
    display: block;
}


.cmb-th label{
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    color: #272B41;
}

.postbox-container .cmb-row:not(:last-of-type){
    border-bottom:none;
}

.cmb-repeat-group-wrap .cmb-row, .postbox-container .cmb-row{
    margin: 0;
}


/* switch div */

.cmd-switch{
    display: flex;
    align-items: center;
    text-align: center;
}
.cmd-switch-item{
    width: 101px;
    height: 54px;
    border:1px solid #E3E6EF;
    border-radius: 2px;
}
.cmd-switch p{
    font-size: 13px;
    font-weight: 500;
    line-height: 25px;
    color: #5A5F7D;
    margin: 0;
}

.cmd-switch-grid{
    margin-left: 10px;
}

@media (max-width: 1600.98px) {
    .cmb2-metabox-card2 textarea {
        width: 100%;
        min-width: 180px;
    }

    .cmb2-metabox-card3 textarea {
        width: 100%;
        min-width: 180px;
    }
}

@media (max-width: 767.98px) {
    .cmb2-metabox-card {
        padding: 40px 40px;
    }
}